.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 24px;

  .filterLabel {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .filterCheckbox {
    margin-left: 10px;
    width: 24px;
    height: 24px;
  }
}
