@import 'src/styles/variables.scss';

.newTodo {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .newTodoInput {
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .newTodoBtn {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      background-color: $btnBckgColorHover;
      color: $btnColorHover;
    }
  }

  @media screen and (max-width: 630px) {
    display: flex;
    flex-direction: column;
    align-items: center;

    .newTodoLabel {
      width: 100%;
      margin-bottom: 10px;
      padding: 5px 10px;
    }
    .newTodoInput {
      width: 100%;
    }
  }
}
